<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>오늘의 찌개</title>
    <meta charset="UTF-8">
    <!--jquery-->
    <script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript" text="javascript"></script>
    <script th:src="@{/js/jquery-ui.min.js}" type="text/javascript" text="javascript"></script>

    <!--css-->
    <link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
<div class="content-wrapper">
    <div class="header">
        <h1>오늘의 찌개</h1>
        <p>서현이네 가족은 오늘 어떤 찌개를 먹을까요 ?</p>
    </div>
    <div class="body">
        <div class="body-div-1">
            <div class="button-div">
                <button>랜덤선택</button>
            </div>
        </div>
        <div class="body-div-1">
            <div class="info-div">
                <span class="label-name">이름</span><span id="name"></span>
            </div>
            <div class="info-div">
                <span class="label-desc">설명</span><span id="description"></span>
            </div>
            <div class="info-div">
                <span class="label-desc">가족선호도</span><span id="preference"></span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="buttons-wrapper">
            <div class="button-div">
                <button>찌개등록</button>
            </div>
            <div class="button-div">
                <button>찌개수정</button>
            </div>
            <div class="button-div">
                <button>찌개삭제</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/index.js}"></script>
</html>